body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.container{
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}
.shadow{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
img {
  max-width: 100%;
  height: auto;
}
h3{
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a{
  text-decoration: none;
}
.main-navigation{
  font-weight: bold;
  line-height: 26px;
  background-color: #ffffff;
  position:relative;
}
.site-navigation {
  margin: 0;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  list-style: none;
}
.site-navigation li{
  box-sizing: border-box;
  width: 240px;
}
.site-navigation li:nth-child(1) {
  padding-left: 70px;
}
.site-navigation li:nth-child(2) {
    margin-right: 240px;
    text-align: center;
}
.site-navigation li:nth-child(3) {
    text-align: center;
}
.site-navigation li:nth-child(4) {
  padding-right: 72px;
  text-align: right;
}
.site-navigation a{
  color: #000000;
}
.site-navigation a:hover{
  color: #cadeeb;
}
.site-navigation a:active{
  color: #e7e7e7;
}
.site-navigation-current a{
  color: #766357;
}
.main-header-logo{
 position: absolute;
 top: 0;
 left: 50%;
 margin-left: -69px;
 z-index: 1;
 width: 138px;
 height: 71px;
}
.welcome-foto{
  position:relative;
  min-height: 508px;
  background-color: #e4f1f9;
  background: url("../img/welcome.jpg") no-repeat;
  background-position: 0% 20%;
}
.welcome-foto::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 1200px;
  height: 58px;
  background: url("../img/mask.svg") no-repeat bottom;
  z-index: 1;
}
.welcome-foto::after{
  content: "";
  position: absolute;
  margin-top: 76px;
  margin-bottom: 23px;
  left: 370px;
  right: 0;
  width: 458px;
  height: 352px;
  background: url("../img/intro-welcome.svg") no-repeat center;
  z-index: 1;
}
.welcome-text{
  margin-top: 62px;
  margin-bottom: 35px;
  line-height: 26px;
}
.welcome-reason{
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.welcome-name{
  font-size: 21px;
  text-align: center;
  font-weight: bold;
}
.description{
  margin: 0 0 50px 0;
  padding: 0;
  display:flex;
  justify-content: center;
}
.description-item{
  width: 400px;
  height: 146px;
  padding-top: 23px;
  padding-bottom: 87px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
.description-color{
  background-color: #81b3d2;
  color: #ffffff;
}
.description-colored h3 {
    margin-bottom: 25px;
    margin-top: 0;
}
.description-text{
  margin: 0;
  padding: 25px;
}
.description-grey{
  background-color: #eeeeee;
}
.description-grey p{
  margin-top: 23px;
}
.description-place{
  margin: 0 auto;
  padding: 0;
  display:flex;
  justify-content: center;
  height: 256px;
}
.features{
  display:flex;
}
.features-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 85px 35px 73px 35px;
  width: 400px;
}
.features-item h3{
  margin-bottom: 8px;
}
.features-item:nth-child(1) {
  background: url("../img/house.svg") no-repeat;
  background-position: top center;

}
.features-item:nth-child(2) {
  background: url("../img/burger.svg") no-repeat;
  background-position: top center;
}
.features-item:nth-child(3) {
  background: url("../img/present.svg") no-repeat;
  background-position: top center;
}
.find{
  margin-top: 39px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.booking{
  text-align: center;
}
.find-text {
  margin: 0;
  padding-bottom: 48px;
}
.searching-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  width: 459px;
  height: 277px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px 50px 60px 60px;
  background: #ffffff;
}
.filter-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-booking{
  position:relative;
  box-sizing: border-box;
  height: 35px;
  width: 345px;
  margin-bottom: 30px;
  font:inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}
label{
  display:inline-block;
  height: 35px;
}
.children label{
  margin-right: 25px;
}
.adult label{
  margin-right: 40px;
}
.data-booking:hover{
  background-color: #ebebeb;
  border: none;
  outline: none;
}
.data-booking:focus{
  background-color: #ffffff;
  outline: 2px solid #ebebeb;
}
.adult{
  display:flex;
  margin-right: 52px;
}
.children {
  display:flex;
  margin: 0;
}
.amount{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 60px;
}
.number-booking{
  width: 37px;
  height: 35px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  box-sizing: border-box;
}
.number-booking:hover{
  background-color: #ebebeb;
  border: none;
  outline: none;
}
.number-booking:focus{
  background-color: #ffffff;
  outline: 2px solid #ebebeb;
}
.filter{
  color: #ffffff;
  background: #5d7284;
  background: url("../img/filter.jpg") no-repeat;
  min-height: 218px;
}
.filter-form{
  display: flex;
  padding: 0 72px;
  padding-top: 26px;
  padding-bottom: 7px;
  width: 1056px;
}
.filter-item{
  display: flex;
  width: 256px;
}
.filter-house{
  display: flex;
  width: 274px;
}
.filter-price{
  display: flex;
  width: 528px;
}
.result-filter{
  display:flex;
  min-height: 86px;
}
.result-sort{
  display:flex;
  width: 781px;
  font-size: 12px;
}
.catalog-list{
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cacaca;
  margin: 0;
  padding: 0;
}
.catalog-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 72px 20px;
}
.catalog-item:last-child{
  margin-bottom: 1px;
}
.hotel-description{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 781px;
  min-height: 90px;
}
.hotel-item{
  margin-left: 29px;
}
.hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.hotel-item a:hover{
  color: #81b3d2;
}
.hotel-item a:active{
  color: #b2b2b2;
}
.info-hotel{
  margin: 25px 29px 10px 0;
}
.price{
  margin-left: 30px;
}
.rating{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 110px;
  height: 97px;
}
.rating-score{
  background-color: #f2f2f2;
  padding: 5px 0 5px 0;
  color: #666666;
  text-align: center;
}
.raiting-stars{
  font-size: 19px;
  line-height: 21px;
}
.arrival-button,
.depature-button {
  fill: #cacaca;
  padding: 0;
  border: 0;
  width: 23px;
  height: 23px;
  outline: none;
  position:absolute;
  background-color:#f2f2f2;
  }
  .arrival-button{
    top: 60px;
    right: 63px;
  }
.depature-button{
    top: 125px;
    right: 63px;
  }
.arrival-button:hover path {
    fill: #85b5d3;
    background-color:#ffffff;
}
.arrival-button:active path {
    fill: #000000;
    background-color:#ffffff;
}
.depature-button:hover path {
    fill: #85b5d3;
    background-color:#ffffff;
}
.depature-button:active path {
    fill: #000000;
    background-color:#ffffff;
}
.amount button {
  position:relative;
  padding: 0;
  height: 35px;
  width: 40px;
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}
.minus::before{
  position: absolute;
  content: "";
  top: 15px;
  left: 12px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}
.plus::before,
.plus::after{
  position: absolute;
  content: "";
  top: 15px;
  left: 12px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}
.plus::after{
  transform: rotate(90deg);
}
.minus:hover::before,
.plus:hover::before,
.plus:hover::after
{
  background-color: #000000;
}
.minus:active::before,
.plus:active::before,
.plus:active::after
{
  background-color: #81b3d2;
}
.form-button{
  margin:0 ;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  width: 460px;
  height: 60px;
  text-transform: uppercase;
}
.form-button:hover{
  background-color: #669ec0;
  color: #cbdbe7;
}
.form-button:active{
  background-color: #5496bd;
  color: #94b9d2;
}
.find-button {
  display: block;
  margin: 0 316px;
  padding: 30px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  border: none;
  min-width: 555px;
}
.find-button:hover{
  background-color: #604e43;
  color: #eeedec;
}
.find-button:active {
  background-color: #503e33;
  color: #827872;
}
.info-button {
  padding: 6px 17px;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  width: 111px;
}
.info-button:hover{
  background-color: #669ec0;
  color: #cbdbe7;
}
.info-button:active{
  background-color: #5496bd;
  color: #94b9d2;
}
.book-button{
  padding: 6px 15px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  border: none;
  width: 143px;
}
.book-button:hover{
  background-color: #604e43;
  color: #000000;
}
.book-button:active {
  background-color: #503e33;
  color: #7e7169;
}
.map {
  position: relative;
}
.main-footer{
 padding: 33px 0;
 background-color: #ffffff;
}
.home-footer{
  position: absolute;
  background-color: rgba(255, 255, 255, 90%);
  margin: -123px auto;
  left:0;
  right: 0;
  z-index: 1;
}
.main-footer ul{
  list-style: none;
  display: flex;
  padding: 0;
}
.main-footer li{
  margin-left: 4px;
}
.foot-container {
  margin-left: 0;
  display: flex;
}
.teg-visit{
  width: 150px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 10px 237px 0 132px;
}
.social {
  display: flex;
  margin: 0;
}
.social-media{
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;

}
.social-media:hover{
  background-color:#669ec0;
}
.social-media:active {
  background-color:#5496bd;
}
.social-media::before {
  content: "";
  position: absolute;
  display: block;
}
.social-media-tw::before {
  top: 17px;
  left: 15px;
  width: 17px;
  height: 15px;
  background: url("../img/twitter.svg") no-repeat center;
}
.social-media-fb::before {
  top: 13px;
  left: 17px;
  width: 12px;
  height: 22px;
  background: url("../img/fb-icon.svg") no-repeat center;
}
.social-media-yb::before {
  top: 16px;
  left: 13px;
  width: 20px;
  height: 16px;
  background: url("../img/youtube.svg") no-repeat center;
}
.link-academy{
  display: flex;
  width: 205px;
  font-size: 14px;
  line-height: 26px;
  margin: 0px 90px 0 223px;
  align-items: center;
  justify-content: center;
}
.link-academy-foto{
  padding-left: 6px;
}
.link-academy-foto:hover path{
  fill: #98c1da;
}
.link-academy-foto:active path{
  fill: #bdbbbc;
}
